body {
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://31.media.tumblr.com/ad65726441493f47e0c8f0473206f4e5/tumblr_mvwl4fCEb21rdpk23o1_1280.jpg');
}

.fullscreen_bg {
    position: fixed;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
     background-size: cover;
    // background-position: 100%;
    background-repeat: false;
    background-image: url('https://www.brownandhudson.com/assets/uploads/where/ethiopia-aerial-10-810.jpg');
  }

  a.kinda-link:hover {
      cursor: pointer;
      color: lightblue;

  }
  a.kinda-link {
      color: blue;
  }

  .login-view {
      padding: 4% 0% 0% 30%;
  }

  .card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.card-header {
    background-color: rgb(108, 159, 209);
}