<!-- <div class="container">
    <div class="row">
        <h1 class="headline">Headline</h1>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card Image">
                <div class="card-block">
                    <h4 class="card-title">Card Title R</h4>
                    <p class="card-text">Short description</p>
                </div>
                <div class="card-fotter">
                    <small class="text-muted">Last Updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div>
    <img class="card-img-top" [src]="movie.photo.url" [alt]="movie.photo.photo_name">
    <div class="card-block">
        <h4 class="card-title">{{movie.title}}</h4>
        <p class="card-text">{{movie.description}}</p>
    </div>
    <div class="card-fotter">
        <small class="text-muted">Last Updated 3 mins ago</small>
    </div>
</div>

