<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-6 col-md-offset-6 sign_card">
            <div class="card">
                <div class="card-header">
                    <img [src]="profile_pic" class="rounded-circle img-thumbnail">
                </div>
                <div class="card-body">
                    <div class="signup-form">
                        <form class="form" role="form" autocomplete="off" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                            <div class="form-group row">
                                <label for="userName" class="col-lg-3 col-form-label form-control-label">User Name or Phone</label>
                                <div class="col-lg-9">
                                    <input 
                                        type="text" class="form-control col-lg-10"
                                        id="inputUName" placeholder="User Name or Phone"
                                        formControlName="username">
                                </div>
                                <!-- <span class="help-block" *ngIf="signupForm.get('username').errors['usernameIsInvalid']">UserName or Phone is invalid</span> -->
                                <!--"signupForm.get('username').errors['usernameIsInvalid']"-->
                            </div>
            
                            <div class="form-group row">
                                <label for="firstName" class="col-lg-3 col-form-label form-control-label">First Name</label>
                                <div class="col-lg-9">
                                    <input 
                                        type="text" class="form-control col-lg-10"
                                        id="firstName" placeholder="First Name"
                                        formControlName="firstName">
                                </div>
                                <!-- <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <select>
                                            <option><img src="http://rs775.pbsrc.com/albums/yy35/PhoenyxStar/link-1.jpg~c200"></option>
                                            <option><img src="http://rs775.pbsrc.com/albums/yy35/PhoenyxStar/link-1.jpg~c200" height="15" width="15" border="0"align="center"> ETH</option>
                                            <option>Test 3</option>
                                        </select>
                                    </div>
                                    <input
                                        type="text" class="form-control col-lg-5"
                                        id="phoneNo" placeholder="Phone No"
                                        formControlName="phoneNo">
                                </div> -->
                            </div>
            
                            <div class="form-group row">
                                <label for="lastName" class="col-lg-3 col-form-label form-control-label">Last Name</label>
                                <div class="col-lg-9">
                                    <input 
                                        type="text" class="form-control col-lg-10" 
                                        id="inputLName" placeholder="Last Name"
                                        formControlName="lastName">
                                </div>
            
                            </div>
                            <!-- <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input 
                                    type="text" class="form-control" 
                                    id="inputLName" placeholder="Last Name"
                                    formControlName="lastName">
                            </div> -->
                            <div class="form-group row">
                                <label for="password" class="col-lg-3 col-form-label form-control-label">Password</label>
                                <div class="col-lg-9">
                                    <input 
                                        type="password" class="form-control col-lg-10"
                                        id="inputPassword" placeholder="Password"
                                        formControlName="password">
                                </div>
                            </div>
            
                            <div class="form-group row">
                                <label for="photo" class="col-lg-3 col-form-label form-control-label">Photo</label>
                                <!-- (change)="selectFile($event)" -->
                                <!-- (change)="showPreviewImage($event)" -->
                                <div class="col-lg-9">
                                    <input type="file" class="form-control col-lg-10"
                                        formControlName="photo"
                                        (change)="selectFile($event)">
                                </div>
    
                                <!-- <button 
                                    [disabled]="!selectedFiles"
                                    (click)="upload()">Upload</button> -->
                            </div>
                            <div class="form-group signup_btn">
                                <button type="submit" class="btn btn-success bt-lg" >Sign up</button>
                            </div>
                            <!-- <div>
                                <img [src]="localUrl" *ngIf="localUrl">
                            </div> -->
                        </form>
                    </div>
                </div>
                <div class="card-footer text-muted">

                </div>
            </div>
        </div>
    </div>
</div>