<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card-header">
                <h3 class="mb-0">Sign Up</h3>
            </div>
            <div class="card-body">
                <form class="form" role="form" autocomplete="off" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="userName">Email or Phone Number</label>
                        <input 
                            type="text" class="form-control"
                            id="inputUName" placeholder="User Name"
                            formControlName="username">
                            <!-- <span class="help-block" *ngIf="signupForm.get('username').errors['usernameIsInvalid']">UserName or Phone is invalid</span> -->
                        <!--"signupForm.get('username').errors['usernameIsInvalid']"-->
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input 
                            type="text" class="form-control" 
                            id="inputFName" placeholder="First Name"
                            formControlName="firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input 
                            type="text" class="form-control" 
                            id="inputLName" placeholder="Last Name"
                            formControlName="lastName">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input 
                            type="password" class="form-control"
                            id="inputPassword" placeholder="Password"
                            formControlName="password">
                    </div>
                    <div class="form-group">
                        <label for="photo">Photo</label>
                        <!-- (change)="selectFile($event)" -->
                        <input type="file" 
                            (change)="showPreviewImage($event)">
                        <button 
                            [disabled]="!selectedFiles"
                            (click)="upload()">Upload</button>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success bt-lg" >Sign up</button>
                    </div>
                    <div>
                        <img [src]="localUrl" *ngIf="localUrl">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>