.inset {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow:
      inset 0 0 0 2px rgba(255,255,255,0.6), 
      0 1px 1px rgba(0,0,0,0.1);
    background-color: transparent !important;
    z-index: 999;
  }
  
  .inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 998;
  }

  a.disabled {
    /* Make the disabled links grayish*/
    color: gray;
    /* And disable the pointer events */
    pointer-events: none;
  }

  // a {
  //   color: #fed136;
  // }
  
  a:hover {
    color: #fec503;
  }

.nav-link {
  text-transform:uppercase;
  font-weight:bold;
}

.nav-item {
  padding: 0 1rem;

  @media(max-width: 34em) {
      padding: 0;
  }

  .nav-link {
      @media(max-width: 34em) {
          font-weight:normal;
          color:#fff !important;
      }
  }

  .nav-link:hover {
    color:  #fec503;
  }
}

.navbar-brand {
  color :  #fec503;
  font-weight : bold;
}